.App {
  text-align: center;
}

span {
  font-size: 25px;
}

.main-header {
  height: 125px;
  background: #3B3B3B;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 25px;
}

.main-header img {
  height: 65px;
}

.desktop-menu {
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.dropdown {
  display: none;
}

.mobile-menu {
  display: none;
}

.animation-transition {
  height: calc(100vh - 125px);
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.react-logo {
  height: 400px;
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.transition-circle {
  height: 325px;
  width: 325px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 5px solid #16D8FF;
  color: #16D8FF;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
}

.transition-circle:hover {
  transform: scale(.5);
  border-radius: 0%;
  background: #3B3B3B;
  color: white;
}

@media(max-width: 768px){
  .main-header img {
    height: 50px;
  }

  .desktop-menu {
    display: none;
  }

  .dropdown {
    display: initial;
    font-size: 25px;
    cursor: pointer;
  }

  .mobile-menu {
    display: initial;
    height: 250px;
    width: 250px;
    background: #3B3B3B;
    position: fixed;
    top: 125px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media(max-width: 500px){
  .main-header img {
    height: 35px;
  }

  .react-logo {
    height: 250px;
  }

  .transition-circle {
    height: 200px;
    width: 200px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}